; Engine configuration file.
; Kadaya PC Windows export preset

[preset.0]

name="Windows Desktop"
platform="Windows Desktop"
runnable=true
dedicated_server=false

[preset.0.options]

custom_template/debug=""
custom_template/release=""
binary_format/architecture="x86_64"
debug/export_console_wrapper=1
application/icon=""
application/modify_resources=true
application/file_version=""
application/product_version=""
application/company_name="KyZer-HADOC"
application/product_name="Kadaya: The Last Shadow"
application/file_description="Kadaya PC 3D Prototype"
application/copyright="KyZer-HADOC"
application/trademarks=""
